altgraph==0.17.5
asyncio==4.0.0
certifi==2026.5.20
customtkinter==5.2.2
darkdetect==0.8.0
doxypy==0.4.1
iniconfig==2.3.0
macholib==1.16.4
packaging==26.2
pillow==12.2.0
pluggy==1.6.0
pygments==2.20.0
pyinstaller==6.20.0
pyinstaller-hooks-contrib==2026.5
pyperclip==1.11.0
pytest==9.0.3
pytest-asyncio==1.4.0
setuptools==82.0.1
